.modal {}
.form {}
.formGroup {
  display: grid;
  grid-template-columns: 1fr 3fr;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.formGroupLabel {
  display: flex;
  align-items: center;
  margin: 0!important;
}
.input {

}
